.container{
    display: flex;
}

@font-face{
    font-family: Norse-Bold;
    src: url(./Norse-Bold.otf);
}

.banner{
    background: url("background.svg");
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 100vh;
    width: min(400px, 30vw);
}

.logo{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.6);
    width: min(400px, 30vw);
    height: 150px;
    top: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: Norse-Bold, sans-serif;
    font-size: 100px;
}

img{
    width: auto;
    height: auto;
    max-width: 125px;
    max-height: 125px;
    display: block;
}

.form{
    width: 600px;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.header,.footer{
    background-color: beige;
}

.header{
    padding: 128px 32px 32px;
    font-weight: bold;
}

.body{
    flex: 1;
    padding: 0px 32px;
}

form{
    display: flex;
    flex-direction: column;
    gap: 16px;
}

legend{
    font-weight: bold;
    font-size: 24px;
}

.name,.additional_info,.passwords{
    display: flex;
    gap: 64px;
}

input{
    border-radius: 5px;
    border: 1px solid grey;
}

input:focus{
    border: 1px solid blue;
    box-shadow: 0px 0px 3px 3px lightblue;
}

input:invalid{
    border: 1px solid red;
}

.footer{
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 32px 32px 128px;
}

.completed{
    display: flex;
    gap: 10px;
}

.login{
    color: #596D48;
}